.burgeringredient {
  width: 272px;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: cover;
}

.price {
  display: flex;
  justify-content: center;
}

.name {
  min-height: 48px;
  text-align: center;
}