.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
}

.list {
  display: flex;
  gap: 20px;
  width: 516px;
  height: 56px;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}