.header {
  background-color: #1C1C21;
}

.nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.link {
  display: flex;
  border-radius: 40px;
  text-decoration: none;
  color: inherit;
  padding: 16px 20px;
  cursor: pointer;
  z-index: 1;
}

.logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link__wrap {
  display: flex;
}

